<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duyun.huishou.housekeeper.mapper.ProblemEntityMapper" >
  <resultMap id="BaseResultMap" type="com.duyun.huishou.housekeeper.po.ProblemEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, answer, insert_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_problem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_problem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.duyun.huishou.housekeeper.po.ProblemEntity" >
    insert into t_problem (id, name, answer, 
      insert_time, last_update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=BIGINT}, #{lastUpdateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.duyun.huishou.housekeeper.po.ProblemEntity" >
    insert into t_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.duyun.huishou.housekeeper.po.ProblemEntity" >
    update t_problem
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duyun.huishou.housekeeper.po.ProblemEntity" >
    update t_problem
    set name = #{name,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=BIGINT},
      last_update_time = #{lastUpdateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- selectAll -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_problem
    order by insert_time desc
    <if test="pageNo != null and pageSize != null">
      limit #{pageNo},#{pageSize}
    </if>
  </select>
</mapper>